body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #E7E5DF;
    margin: 30; }
h1{
    color: #333;
}
.card{
    background: #797E85;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 30px;
    max-width: 1200px; }
label{
    display: block;
    margin-top: 10px;
    font-weight: bold; }
input{
    width: 20%;
    padding: 6px;
    margin-top: 4px;  }

    

}

