body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #E7E5DF;
    margin: 30; }
h1{
    color: #333;
}
.card{
    background: #e0d1b8;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 30px;
    max-width: 1200px; }
label{
    display: block;
    margin-top: 10px;
    font-weight:lighter; }
input{
    width: 20%;
    padding: 6px;
    margin-top: 4px;  }
button{
    margin-top: 15px;
    padding: 10px;
    background: #2C68A3;
    color: white;
    border: none;
    cursor: pointer; }

button:hover{
    background: #002AB3;  }

    .semaforo{
        padding: 20px;
        font-weight: bold;
        text-align: center;
        border-radius: 6px;
        color: black;  }

        






}

