body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #E7E5DF;
    margin: 30; }
h1{
    color: #333;
}
.card{
    background: #797E85;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 30px;
    max-width: 1200px; }

}

